

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-box">
    <div class="login-logo backgroundlogin">
      <img src="https://storage.cloud.google.com/armificados.appspot.com/logo/logo.png">
    </div>
    <div class="login-box-body">
      <form action="../../index2.html" method="post">
        <div class="form-group has-feedback">
          <p>Usuario</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control form-control-user"%> 
        </div>
          <p>Contraseña</p>
        <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control form-control-user"%>
        </div>
        <div class="row">
            <%= f.submit "Acceder" , class:"btn btn-primary btn-block" %>
        </div>
        <%# <div style="margin-top:8%; margin-left: 45%;">
          <p>Olvidaste tu contraseña?</p>
        </div> %>
        <div style="margin-top:8%; margin-left: 60%;">
        <a href="http://www.armis.cl">Voler a Armis</a>
        </div>
        <div>
     
        </div>
      </form>
    </div>
  </div>
<% end %>
