
  <div class="col-md-3">
    <section class="content-header">
      <h6>
        <i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>GESTORES
        <i> <button id="btncausaingreso" onclick="NuevoGestor()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;" ></i>
        
      </h6>
    </section>


    <div class="box-body" id="menugestoreslistado">
      <table class="multilinia" id="table-gestores" >
      <tr></tr>
    
      </table>
    </div>

      <section class="content-header">
        <h6> 
          <i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>CLIENTES
          <i> <button id="btncausaingreso" onclick="NuevoCliente()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;" ></i>
        </h6>
      </section>

      <div class="box-body" id="menuclienteslistado">
        <table class="multilinia" id="table-clientes" >
        <tr></tr>
      
        </table>
      </div>

  </div>
  
  <!-- Menu Gestores -->
       <div id="gestores_nuevo" class="col-md-8" style="border-left: 1px solid black;  display:none;">
        <section class="content-header-menu" >
          <h6>
            <span  style="margin-left: 3%;" id="nombre">.</span>
            <span id="rut" style="margin-left: 3%;">.</span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
            <%# <select  id="combocliente2"></select></span> %>
          </h6>
        </section>

          <%# <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark" style="margin-left: 3%;  "> </i>  <a  class="btn" onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%;color: #c4a215; "> </i>  <a class="btn" onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>
          </section> %>
            <section class="content-form">
            <h6>
              <label class="margin-menu">TIPO GESTOR</label>
              <span>  
               <select  id="tipo">
                <option>Epecialista</option>
                <option>Embajador</option>
                <option>Coordinador</option>
            </select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">NOMBRE</label>
              <span>  <input type="nombre" id="nombreabogado" class="form-control-menu"  placeholder="NOMBRE"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">RUT</label>
              <span>  <input type="rut" id="rut_abogado" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">PROFESION</label>
              <span>  <input  id="profesion" class="form-control-menu"  placeholder="PROFESION"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input type="rol" id="oficio" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO CIVIL</label>
              <span>  
               <select  id="estadocivil">
                <option>Soltero</option>
                <option>Casado</option>
                <option>Viudo</option>
            </select></span>
            </h6>
          </section>
          <section class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">CELULAR</label>
              <span>  <input id="celular" class="form-control-menu"  placeholder="celuar"></span>
            </h6>
          </section>
      
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">EMAIL</label>
              <span> <input id="email" class="form-control-menu"  placeholder="EMAIL"></span>
            </h6>
          </section>
           <%# <section class="content-form">
            <h6>
              <label class="margin-menu">FECHA DE NACIMIENTO</label>
              <span>   <input id="fechanacimiento" type="datetime-local" id="fechaaudiencia" name="fechaaudiencia" ></span>
            </h6>
          </section> %>

          <section class="content-form">
            <h6>
              <label class="margin-menu">FOTO</label>
              <span> <input type="Cuantia" id="foto" class="form-control-menu"  placeholder="FOTO"></span>
            </h6>
          </section>
         

          <section class="content-form">
            <h6>
              <label class="margin-menu">PASSWORD</label>
              <span> <input type="" id="password" class="form-control-menu"  placeholder="PASSWORD"></span>
            </h6>
          </section>



          <section class="content-header-food" >
            <h6>
               <%# <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ELIMINAR</span>  %>
              <span type="button" onclick="AgregarGestores()" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">AGREGAR</span>
            </h6>
          </section>
      </div>

       <div id="gestores_modificar" class="col-md-8" style="border-left: 1px solid black;  display:none;">
        <section class="content-header-menu" >
          <h6>
            <span  style="margin-left: 3%;" id="nombre_abogado_menu1"></span>
            <span id="rut_abogado_menu1" style="margin-left: 3%;"></span>
            <span id="id_gestor" style="display: none"></span>
            <span id="id_user" style="display: none"></span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
            <%# <select  id="combocliente2"></select></span> %>
          </h6>
        </section>

          <%# <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark" style="margin-left: 3%;  "> </i>  <a  class="btn" onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%;color: #c4a215; "> </i>  <a class="btn" onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>
          </section> %>
            <section class="content-form">
            <h6>
              <label class="margin-menu">TIPO GESTOR</label>
              <span>  
               <select  id="tipogestorm">
                <option>Epecialista</option>
                <option>Embajador</option>
                <option>Coordinador</option>
            </select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">NOMBRE</label>
              <span>  <input type="nombrem" id="nombrem" class="form-control-menu"  placeholder="NOMBRE"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">RUT</label>
              <span>  <input type="rut" id="rutm" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">PROFESION</label>
              <span>  <input  id="profesionm" class="form-control-menu"  placeholder="PROFESION"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input type="rolm" id="oficiom" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO CIVIL</label>
              <span>  
               <select  id="estadocivilm">
                <option>Soltero</option>
                <option>Casado</option>
                <option>Viudo</option>
            </select></span>
            </h6>
          </section>
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">EMAIL</label>
              <span> <input id="email_abogado2" class="form-control-menu"  placeholder="EMAIL"></span>
            </h6>
          </section>
           
            <section class="content-form">
            <h6>
              <label class="margin-menu">FOTO</label>
              <span> <input id="fotom" class="form-control-menu"  placeholder="FOTO"></span>
            </h6>
          </section>
         

          <%# <section class="content-form">
            <h6>
              <label class="margin-menu">PASSWORD</label>
              <span> <input type="" id="passwordm" class="form-control-menu"  placeholder="PASSWORD"></span>
            </h6>
          </section> %>

          <section class="content-header-food" >
            <h6>
               <%# <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ARCHIVAR</span>  %>
              <span type="button" onclick="modificarGestores()" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
      </div>

  <!-- Menu Clientes -->

     <div id="clientes_nuevo" class="col-md-8" style="border-left: 1px solid black;  display:none;">
        <section class="content-header-menu" >
          <h6>
            <span  style="margin-left: 3%;" id="nombre_cliente"></span>
            <span id="rut_cliente" style="margin-left: 3%;"></span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
           
          </h6>
        </section>

           <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO A CARGO</label>
               <span><select class="comboboxselect" style="margin-left: 0%" id="comboabogado_clientec"></select></span>
            </h6>
          </section>
           
          <section class="content-form">
            <h6>
              <label class="margin-menu">CLIENTE</label>
              <span>  <input type="nombrec" id="nombrec" class="form-control-menu"  placeholder="NOMBRE"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">RUT CLIENTE</label>
              <span>  <input type="rut" id="rutc" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">PLAN</label>
              <span>  <input  id="planc" class="form-control-menu"  placeholder="PLAN"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input  id="tipoc" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>
         
        
             <section class="content-form">
            <h6>
              <label class="margin-menu">REGION</label>
              <span>  
               <select  onchange="llenarComunas()" id="regionesc">
                
            </select></span>
            </h6>
          </section>

          </section>
             <section class="content-form">
            <h6>
              <label class="margin-menu">COMUNA</label>
              <span>  
                
               <select  id="comunac"></select></span>
            </h6>
          </section>

          <section class="content-form">
            <h6>
              <label class="margin-menu">DOMICILIO</label>
              <span>  <input id="domicilion" class="form-control-menu"  placeholder="DOMICILIO"></span>
            </h6>
          </section>

          <section class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">CELULAR</label>
              <span>  <input id="celuarm" class="form-control-menu"  placeholder="celuar"></span>
            </h6>
          </section>

          <section class="content-form">
            <h6>
              <label class="margin-menu">OPCION</label>
               <span>  
               <select  id="opcionn">
                <option>Persona Natural</option>
                <option>Empresa</option>
            </select></span>
            </h6>
          </section>

          <section id="mrlegaln" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">REPRESENTANTE LEGAL</label>
              <span>  <input id="rlegaln" class="form-control-menu"  placeholder="REPRESENTANTE LEGAL"></span>
            </h6>
          </section>

          <section id="mrutlegaln"  class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">RUT</label>
              <span>  <input id="rutlegaln" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>

          <section id="moficion"  class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input id="oficion" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>

          <section  id="mciviln" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">ESTADO CIVIL</label>
               <select  id="civiln">
                <option>desconocido</option>
                <option>soltero</option>
                <option>casado</option>
                <option>divorciado</option>
                <option>viudo</option>
            </select></span>
            
            </h6>
          </section>

          <section id="mmjudicialn" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">MANDATO JUDICIAL</label>
              <span>  
               <select  id="mjudicialn">
                <option>Pendiente</option>
                <option>Notaria</option>
                <option>Firmado</option>
            </select></span>
            </h6>
          </section>
      
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">EMAIL</label>
              <span> <input id="emailc" class="form-control-menu"  placeholder="EMAIL"></span>
            </h6>
          </section>
          
        <section class="content-form">
                    <h6>
                      <label class="margin-menu">PASSWORD</label>
                      <span> <input type="" id="passwordc" class="form-control-menu"  placeholder="PASSWORD"></span>
                    </h6>
                  </section>

          <section class="content-header-food" >
            <h6>
               <%# <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ELIMINAR</span>  %>
              <span type="button" onclick="crearCliente()" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">AGREGAR</span>
            </h6>
          </section>
    </div>

     <div id="clientes_modificar" class="col-md-8" style="border-left: 1px solid black;  display:none;">
        <section class="content-header-menu" >
          <h6>
            <span  style="margin-left: 3%;" id="nombre_cliente_m"></span>
            <span id="rut_cliente_m" style="margin-left: 3%;"></span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
                <span id="id_cliente" style="display: none"></span>
            <%# <select  id="combocliente2"></select></span> %>
          </h6>
        </section>

          <%# <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark" style="margin-left: 3%;  "> </i>  <a  class="btn" onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%;color: #c4a215; "> </i>  <a class="btn" onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>
          </section> %>
            <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO A CARGO</label>
               <span><select class="comboboxselect" style="margin-left: 0%"  id="comboabogado_clientem"></select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">CLIENTE</label>
              <span>  <input type="nombrecm" id="nombrecm" class="form-control-menu"  placeholder="NOMBRE"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">RUT</label>
              <span>  <input type="rut" id="rutcm" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">PLAN</label>
              <span>  <input  id="plancm" class="form-control-menu"  placeholder="PLAN"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input  id="oficiocm" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>
         
        
             <section class="content-form">
            <h6>
              <label class="margin-menu">REGION</label>
              <span>  
               <select  onchange="llenarComunas()" id="regionescm">
                
            </select></span>
            </h6>
          </section>

          </section>
             <section class="content-form">
            <h6>
              <label class="margin-menu">COMUNA</label>
              <span>  
                
               <select  id="comunacm"></select></span>
            </h6>
          </section>

          <section class="content-form">
            <h6>
              <label class="margin-menu">DOMICILIO</label>
              <span>  <input id="domiciliom" class="form-control-menu"  placeholder="DOMICILIO"></span>
            </h6>
          </section>

          <section class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">CELULAR</label>
              <span>  <input id="celuarm" class="form-control-menu"  placeholder="celuar"></span>
            </h6>
          </section>

          <section class="content-form">
            <h6>
              <label class="margin-menu">OPCION</label>
               <span>  
               <select  id="opcionm">
                <option>Persona Natural</option>
                <option>Empresa</option>
            </select></span>
            </h6>
          </section>

          <section id="mrlegalm" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">REPRESENTANTE LEGAL</label>
              <span>  <input id="rlegalm" class="form-control-menu"  placeholder="REPRESENTANTE LEGAL"></span>
            </h6>
          </section>

          <section id="mrutlegalm" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">RUT</label>
              <span>  <input id="rutlegalm" class="form-control-menu"  placeholder="RUT"></span>
            </h6>
          </section>

          <section id="moficiom" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">OFICIO</label>
              <span>  <input id="oficiom" class="form-control-menu"  placeholder="OFICIO"></span>
            </h6>
          </section>

          <section id="mcivilm"  class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">ESTADO CIVIL</label>
                   <select  id="civilm">
                <option>desconocido</option>
                <option>soltero</option>
                <option>casado</option>
                <option>divorciado</option>
                <option>viudo</option>
            </select></span>
            
            </h6>
          </section>

          <section id="mmandatom" class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">MANDATO JUDICIAL</label>
              <span>  <input id="mandatom" class="form-control-menu"  placeholder="MANDATO JUDICIAL"></span>
            </h6>
          </section>
      
          <%# <section class="content-form">
            <h6>
              <label class="margin-menu">EMAIL</label>
              <span> <input  id="emailcm" class="form-control-menu"  placeholder="EMAIL"></span>
            </h6>
          </section> %>
           <%# <section class="content-form">
            <h6>
              <label class="margin-menu">FECHA DE NACIMIENTO</label>
              <span>   <input id="fechanacimientocm" type="datetime-local" id="fechaaudiencia" name="fechaaudiencia" ></span>
            </h6>
          </section> %>


          <section class="content-header-food" >
            <h6>
               <%# <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ARCHIVAR</span>  %>
              <span type="button" onclick="modificarCliente()" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
    </div>

 


    
        
<script>
  $(document).ready(listadoGestoresActivos);
  $(document).ready(listadoClientesActivos);
  $(document).ready(llenarRegiones);


  $('#opcionn').on('change', function() {
   if (this.value == "Empresa") {
            $('#mrlegaln').css("display", "");
            $('#mrutlegaln').css("display", "");
            $('#moficion').css("display", "");
            $('#mciviln').css("display", "");
    } else {
            $('#mciviln').css("display", "");
            $('#moficion').css("display", "");
            $('#mrlegaln').css("display", "none");
            $('#mrutlegaln').css("display", "none");
    }
});


  $('#opcionm').on('change', function() {
   if (this.value == "Empresa") {
            $('#mrlegalm').css("display", "");
            $('#mrutlegalm').css("display", "");
            $('#moficiom').css("display", "");
            $('#mcivilm').css("display", "");
    } else {
            $('#mcivilm').css("display", "");
            $('#moficiom').css("display", "");
            $('#mrlegalm').css("display", "none");
            $('#mrutlegalm').css("display", "none");
    }
});

  
</script>

