
        <div class="col-md-3">
          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              GESTIONES
                <i> <button id="btnworkingreso" onclick="menuWorkAgregar()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;" ></i>
                <i> <button id="btnworklista" onclick="menuWorkListado()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%;display:none; background-color: transparent;border: transparent;"  ></i>
                <label style="display:none" id="nuevocodigogestion"></label>
              </h6>
          </section>

            <div class="box-body" id="menuWorkLista">
              <table  class="multilinia" id="table-work" style="font-size: 135%;">
                <tr>
                </tr>
               
              </table>
            </div>

             <div class="box-body" style="display:none" id="menuworkingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;">NUEVA GESTION</H6>
                      <span><input style="margin-left: 2%; margin-bottom: 4%; width: 75%;" id="nombrework" class="form-control-menu"  placeholder="Nombre"></span>
                      <i onclick="agregarWork()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <h6 style="margin-left: 2%; color: #c4a215;">SELECCIONA EL CLIENTE</H6> 
                      <span>  <select class="comboboxselect"  id="comboclientework"></select></span>
                      <h6 style="margin-left: 2%; color: #c4a215;">SELECCIONA EL ABOGADO</H6>  
                      <span><select class="comboboxselect"  id="comboabogadowork"style="margin-bottom: 5%"></select></span>
                  </h6>
              </section>
            </div>

            <section class="content-header" style="display:none" id="t-menuworklistadoasuntos">

                <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>GESTIONES / ASUNTOS<a id="tipo" style="display:none" value="admin">admin</a>
                </h6>
            </section>

              <div class="box-body" id="menuWorkListaAsuntos" style="font-size: 95%;display:none">
                <table  class="multilinia" id="table-work-asuntos" >
                <tr></tr>
              
                </table>
              </div>

         

            <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
              ARCHIVO
            
          </h6>
          </section>

           

           <div class="box-body" id="menuWorkListaarchivada">
              <table class="multilinia" id="table-work-archivadas" style="font-size: 135%;">
                <tr>
                </tr>
               
              </table>
            </div>


          <section class="content-header">  
            <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
              FILTRO    <i> <button id="btncausalistafiltro" onclick="filtroWorkActivas()" class="fas fa-filter fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;"  ></i></h6></h6>
          </section>
            <div style="margin-left:10%">
              <h6 style="color: #c4a215;">ESTADO 
              <select  id="estado">
                <option>Regular</option>
                <option>Destacado</option>
                <option>Archivado</option>
            </select></h6> 
            </div>

        </div>
  
        <div id="gestion" class="col-md-8" style="border-left: 1px solid black;">
          <section class="content-header-menu" >
            <h6>
            <span  id="codigowork" style="margin-left: 3%;">CODIGO</span>
            <span   id="clientework"  style="margin-left: 3%;">CLIENTE</span>
             <span id="idgestion" style="display: none"></span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;"> 
            <%# <select  id="combocliente">
            </select></span> %>
            </h6>
          </section>
          <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark " style="margin-left: 3%; color: #c4a215;"> </i>  <a style="cursor:pointer;" class="btn" onclick="gestionGestion()"> GESTION</a>
              <i class="fas fa-bookmark" style="margin-left: 3%;"> </i>  <a class="btn" style="cursor:pointer;" onclick="gestionConfiguracion()">EXPEDIENTE</a>
            </h6>
          </section>

          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label>TAREAS</label>
               <i><button id="btnWorkTareaIngreso" onclick="menuWorkTareaAgregar()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkTareaLista" onclick="menuWorkListadoTarea()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                <i><button id="btnWorkTareaArchivar" onclick="menuWorkListadoTareaArchivadas()" class="fas fa-archive fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
               
              </h6>
          </section>

           <section class="content-form" >
              <div  id="listadoworkareas">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;font-size: 135%;"   class="multilinia" id="table-work-tareas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <section class="content-form"  >
              <div  id="listadoworktareasarchivada" style="display:none;font-size: 135%;">
                <table class="multilinia" style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-tareas-archivadas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menuworktareaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-work" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarWorkTareas()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                    <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworktareaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_tarea_ingresar" value=""><div id="abogados_work_status_nuevo" class='dropdown-content'></div></div>
                        <input id="fechaworktarea" type="date" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menuworktareaeditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarWorkTareas()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="ArchivarWorkTareas()" class="fas fa-archive fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworktareaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_tarea_editar" value=""><div id="abogados_work_status_editar" class='dropdown-content'></div></div>
                      <input id="fechaworktareaeditar" type="date" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_tarea"></label>
                  </h6>
              </section>
            </div>



            <section class="content-header">
              <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
              <label> AUDIENCIAS O REUNIONES </label>
                <i><button id="btnWorkReunioningreso" onclick="menuWorkReunionAgregar()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkReunionlista" onclick="menuWorkListadoReunion()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right:2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                <i><button id="btnWorkReunionarchivar" onclick="menuWorkListadoReunionArchivadas()" class="fas fa-archive fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>  
                </h6>
            </section>


           <section class="content-form" >
              <div  id="listadoworkreuniones" >
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;font-size: 135%;"  class="multilinia" id="table-work-reuniones" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <section class="content-form">
              <div  id="listadoworkreunionesarchivada" style="display:none;font-size: 135%;">
                <table  style="margin-top: 0.5%;margin-bottom: 0.5%;" class="multilinia" id="table-work-reuniones-archivadas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menuworkreunioningresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-reunion-work" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarReuniones()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkreunioningresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_reunion_ingresar" value=""><div id="abogados_work_reunion_nuevo"  class='dropdown-content'></div></div>
                        <input id="fechaworkreunion" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

             <div class="box-body" style="display:none" id="menuworkreunioneditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-reunion-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarReuniones()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                         <i onclick="ArchivarReuniones()" class="fas fa-archive fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkreunioneditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_reunion_editar" value=""><div id="abogados_work_reunion_editar" class='dropdown-content'></div></div>
                      <input id="fechaworkreunioneditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label id="id_reunion" style="display:none"></label>
                  </h6>
              </section>
            </div>

            <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
             <label> HISTORIAL </label>
                <i><button id="btnWorkHistoriaIngreso" onclick="menuWorkHistoriaAgregar()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkHistoriaLista" onclick="menuWorkListadoHistoria()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
              </h6>
          </section>


        

             <div id="listadoworkHistoria">
                      <table class="multilinia" class="table-his"  id="table-work-historias">
                        <tbody class="tbody_hist">
                        </tbody>
                    </table>
                  </div>


            <div class="box-body" style="display:none;font-size: 135%;" id="menuworkHistoriaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <textarea style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-historia-work" class="form-control-menu"  placeholder="tarea"></textarea>
                      <i onclick="agregarHistorias()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                       <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkhistoriaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_historia_ingresar" value=""><div id="abogados_work_historia_nuevo" class='dropdown-content'></div></div>
                        <input id="fechaworkhistoria" type="date" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menuworkHistoriaEditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-historia-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarHistorias()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                                             <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkhistoriaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_historia_editar" value=""><div id="abogados_work_historia_editar" class='dropdown-content'></div></div>
                        <input id="fechaworkhistoriaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label id="id_historia" style="display:none" ></label>
                  </h6>
              </section>
            </div>
        </div>

        <div id="configuracion"  class="col-md-8" style="border-left: 1px solid black;  display:none;">
          <section class="content-header-menu" >
            <h6>
          <span  id="codigowork2" style="margin-left: 3%;">CODIGO</span>
            <span   id="clientework2"  style="margin-left: 3%;">CLIENTE</span>
           <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;"> 
            <%# <select  id="comboclientework2">
            </select></span> %>
            </h6>
          </section>
          <section class="content-form border-menu-2">
            <h6>
              <i class="fas fa-bookmark " style="margin-left: 3%;"> </i>  <a class="btn" style="cursor:pointer;" onclick="gestionGestion()"> GESTION</a>
              <i class="fas fa-bookmark" style="margin-left: 3%; color: #c4a215;"> </i>  <a  class="btn" style="cursor:pointer;" onclick="gestionConfiguracion()">EXPEDIENTE</a>
            </h6>
            
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">CLIENTE</label>
              <select  id="comboclientework2">
            </select></span>
            </h6>
          </section>
            <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO</label>
               <span><select class="comboboxselect"  id="comboabogadoworkmenu" ></select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">DESCRIPCIÓN</label>
              <span>  <input type="descripcion" id="work-descripcion" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO</label>
              <span>  
                <select  id="Estado">
                  <option>Destacado</option>
                  <option>Regular</option>
                  <option>Archivado</option>
              </select>
              </span>
            </h6>
          </section>
            <section class="content-header-food" >
            <h6>
              <span type="button" data-toggle="modal" data-target="#modal_finalizar_work" class="btn btn-primary btn-xs" style="cursor:pointer;margin-left: 3%;">FINALIZAR</span>
              
              <span type="button" data-toggle="modal" data-target="#modal_eliminar_work" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">ELIMINAR</span>
              <span onclick="modificarWork()" type="button" class="btn btn-primary btn-xs" style="cursor:pointer;float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
        </div>
    
  
  <div id="new-work" style="display: none;" ></div>


    <!--Modal-->
<div id="ModalAbogado"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-striped" id="table-abogados">
          <thead>
            <tr>
              <th style="display:none">id</th>
              <th>Nombre</th>
            </tr>
          </thead>
            <tbody>
              <tr>
             
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_eliminar_work" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal_eliminar">
   
      <div class="modal-body">
        <p style="margin-left: 6%;">ESTA SEGURO DE ELMINAR LA GESTION</p>
      </div>
      <div class="modal-footer">
        <button type="button"  style="cursor:pointer;float: left;" class="btn btn-primary" onclick="EliminarDatosGestion()">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_finalizar_work" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FINALIZAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="text_modal" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button onclick="ArchivarWork()" style="cursor:pointer;float:left" type="button" class="btn btn-primary btn-xs" data-dismiss="modal">FINALIZAR</button>
        <p>   
          <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar" style="margin-right:2%">
          <%= Time.now.strftime("%F %T") %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(obtenerLoginWork);
   $(document).ready(llenarAbogadoGestionTareaNueva);
   $(document).ready(llenarAbogadoGestionTareaEditar);
   $(document).ready(llenarAbogadoGestionReunionNuevo);
   $(document).ready(llenarAbogadoGestionReunionEditar);
   $(document).ready(llenarAbogadoGestionHistoriaNuevo);
   $(document).ready(llenarAbogadoGestionHistoriaEditar);
</script>