<div class="col-md-3">
  <section class="content-header">
    <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>CAUSAS JUDICIALES <a id="tipo" style="display:none" value="admin">admin</a>
        <i> <button id="btncausaingreso"  onclick="causemenuingreso()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;" ></i>
        <i> <button id="btncausalista"  onclick="causamenulistado()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%;display:none; background-color: transparent;border: transparent;"  ></i>
        <label style="display:none" id="nuevocodigo"></label>
        <label id="usuarioactualcausa" style="display:none" ><%= @emailuser.role %></label>
    </h6>
  </section>

  <div class="box-body" id="menucausalistado" style="font-size: 95%;">
    <table  class="multilinia" id="table-cause" >
     <tr></tr>
   
    </table>
  </div>

  <div class="box-body" style="display:none" id="menucausaingresar" style="font-size: 95%;">
    <section class="content-form">
      <h6>
        <h6 style="margin-left: 2%; color: #c4a215;">NUEVA CAUSA JUDICIAL</H6>
            <span><input style="margin-left: 2%; margin-bottom: 4%; width: 75%;" id="nombrecausa" class="form-control-menu"  placeholder="Nombre"></span>
            <i  onclick="agregarCausa()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;cursor:pointer"></i>
            <i  onclick="limpiarNombreCausa()" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
            <h6 style="margin-left: 2%; color: #c4a215;">SELECCIONA EL CLIENTE</H6> 
            <span>  <select class="comboboxselect"  id="combocliente"></select></span>
            <h6 style="margin-left: 2%; color: #c4a215;">SELECCIONA EL ABOGADO</H6>  
            <span><select class="comboboxselect"  id="comboabogado"style="margin-bottom: 5%"></select></span>
        </h6>
    </section>
  </div>

  <section class="content-header" style="display:none" id="t-menucausalistadoasuntos">

    <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>CAUSAS JUDICIALES / ASUNTOS<a id="tipo" style="display:none" value="admin">admin</a>
    </h6>
  </section>

  <div class="box-body" id="menucausalistadoasuntos" style="font-size: 95%;display:none">
    <table  class="multilinia" id="table-cause-asuntos" >
     <tr></tr>
   
    </table>
  </div>
  
   <section class="content-header">
    <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>FILTRO
          <i> <button id="btncausalistafiltro"  onclick="filtroCausasActivas()" class="fas fa-filter fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 6%;margin-top: -2%; background-color: transparent;border: transparent;"  ></i></h6>

  </section>
      <div style="margin-left:10%">
              <h6 style="color: #c4a215;">AREA 
              <select  id="fmateria">
                <option>Seleccionar...</option>
                <option>Cobranza</option>
                <option>Civil</option>
                <option>Protección</option>
                <option>Penal</option>
                <option>Copropiedad</option>
                <option>Consumidor</option>
                <option>Familia</option>
                <option>Otro</option>
            </select></h6> 
              <h6 style="color: #c4a215;">INSTANCIA 
                 <select  id="finstancia">
                  <option>Seleccionar...</option>
                  <option>Extrajudicial</option>
                  <option>Suprema</option>
                  <option>Primera</option>
                  <option>Segunda</option>
                </select></select></h6> 
             
      </div>

  <section class="content-header">
    <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>ARCHIVO</h6>
  </section>

      <div class="box-body" id="menucausalistado" style="font-size: 95%;">
        <table  id="table-cause-arch" >
          <tr></tr>
         
        </table>
      </div>

 

</div>

  <div id="expediente" class="col-md-9" style="border-left: 1px solid black;  display:none;">
    <section class="content-header-menu" >
      <h6>
        <span  style="margin-left: 3%;font-size: 135%;" id="codigocausa">CODIGO</span>
        <span id="clientecausa" style="margin-left: 3%;font-size: 135%;">CLIENTE</span>
        <span id="idcausa" style="display: none"></span>
        <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
        <%# <select  id="combocliente2"></select></span> %>
      </h6>
    </section>

          <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark" style="margin-left: 3%;  "> </i>  <a  class="btn" style='cursor:pointer;' onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%;color: #c4a215; "> </i>  <a class="btn" style='cursor:pointer;' onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>
          </section>
            <section class="content-form">
            <h6>
              <label class="margin-menu">CLIENTE</label>
               <select  id="combocliente2"></select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO</label>
                <select   id="comboabogado2"></select>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">NOMBRE</label>
              <span>  <input type="nombre" id="nombre" class="form-control-menu"  placeholder="NOMBRE"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">TRIBUNAL</label>
              <span>  <input type="Tribunal" id="Tribunal" class="form-control-menu"  placeholder="TRIBUNAL"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ROL</label>
              <span>  <input type="rol" id="rol" class="form-control-menu"  placeholder="ROL"></span>
            </h6>
          </section>
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">AREA</label>
              <span>  
               <select  id="Materia">
                <option>Cobranza</option>
                <option>Civil</option>
                <option>Protección</option>
                <option>Penal</option>
                <option>Copropiedad</option>
                <option>Consumidor</option>
                <option>Familia</option>
                <option>Otro</option>
            </select></span>
            </h6>
          </section>
          <section class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">PROCEDIMIENTO</label>
              <span>  <input type="idprocedimiento" id="procedimiento" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">INSTANCIA</label>
              <span>
              <select  id="instancia">
                <option>Extrajudicial</option>
                <option>Suprema</option>
                <option>Primera</option>
                <option>Segunda</option>
                
            </select>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">CUANTÍA</label>
              <span> <input type="Cuantia" id="Cuantia" class="form-control-menu"  placeholder="CUANTÍA"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">DESCRIPCIÓN</label>
              <span>  <input type="descripcion" id="descripcion" class="form-control-menu"  placeholder="DESCRIPCIÓN"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO</label>
              <span>
                <select  id="Estado">
                  <option>Regular</option>
                  <option>Destacado</option>
                  <option>Archivado</option>
              </select>
              </span>
            </h6>
          </section>
          <%# <section class="content-header-food" >
            <h6>
            <span style="margin-left: 3%;">DEMANDANTE Y DEMANDADO</span>
            <span type="button" class="btn btn-primary btn-xs " style="float: right;margin-right: 2%;margin-top: -0.5%;"> GESTIONAR ACTORES </span>
            </h6>
          </section> %>
          <section class="content-header-food" >
            <h6>
              <span type="button" data-toggle="modal" data-target="#modal_finalizar" class="btn btn-primary btn-xs" style="margin-left: 3%;">FINALIZAR</span>
              <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ELIMINAR</span>
              <span type="button" style='cursor:pointer;'  onclick="ActualizarCausas()" class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
  </div>

  <div id="tramitacion"  class="col-md-9" style="border-left: 1px solid black;  ">

  
          <section class="content-header-menu" >
            <h6>
             <span  style="margin-left: 3%;" id="codigocausa2">CODIGO</span>
              <span id="clientecausa2" style="margin-left: 3%;">CLIENTE</span>
              <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
              <%# <select  id="combocliente3"></select></span> %>
            </h6>
          </section>

          <section class="content-form border-menu-2">
            <h6>
             
                <i class="fas fa-bookmark" style="margin-left: 3%; color: #c4a215; "> </i>  <a  class="btn" style='cursor:pointer;' onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%; "> </i>  <a class="btn" style='cursor:pointer;' onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>

          </section>

          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label>TAREAS</label>
                <i><button id="btncausatareaingreso"  onclick="mostrarcausatareaingreso()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btncausatarealista"  onclick="mostrarlistacausatarea()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                <i><button id="btncausatareaarchivar"  onclick="mostrarlistacausatareaarchivadas()" class="fas fa-archive fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                
              </h6>
          </section>
          
          <section class="content-form" >
              <div  id="listadocausatareas">
                <table style=" margin-top: 0.5%;margin-bottom: 0.5%;font-size: 135%;" class="multilinia" id="table-cause-tareas" >
                <tr></tr>
              
                </table>
              </div>
          </section>

          <section class="content-form"  >
              <div  id="listadocausatareasarchivada"  style="display:none;font-size: 135%;">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" class="multilinia" id="table-cause-tareas-archivadas" >
                <tr></tr>
              
                </table>
              </div>
          </section>

          <div class="box-body" style="display:none" id="menucausatareaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-causa" class="form-control-menu"  placeholder="tarea"></span>
                      <i  onclick="agregarCausaTarea()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i  onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagentareaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_tarea_ingresar" value=""><div id="abogados_causa_status_nuevo" class='dropdown-content'></div></div>
                      <input id="fechacuasatarea" type="date" name="bdaytime" value="" style="width: 20%;">
                  </h6>
              </section>
            
          </div>

          <div class="box-body" style="display:none" id="menucausatareaeditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-causa-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarCausaTarea()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i  onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                       <i  onclick="archivarCausaTarea()" class="fas fa-archive fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagentareaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_tarea_editar" value=""><div id="abogados_causa_status_editar" class='dropdown-content'></div></div>
                      <input id="fechacuasatareaeditar" type="date" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_causastatus"></label>
                  </h6>
              </section>
          </div>

          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
             <label> AUDIENCIAS O REUNIONES</label>
                <i> <button id="btncausaaudienciaingreso" onclick="mostrarcausaaudienciaingreso()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i> <button id="btncausaaudiencialista"  onclick="mostrarlistacausaaudiencia()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                <i><button id="btncausaaudienciaarchivar" onclick="mostrarlistacausaaudienciaarchivadas()" class="fas fa-archive fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                
              </h6>
          </section>

            <section class="content-form" >
              <div  id="listadocausaaudiencias">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;font-size: 135%;" class="multilinia" id="table-cause-audiencias" >
                <tr></tr>
              
                </table>
              </div>
            </section>
            
            <section class="content-form" >
              <div  style="display:none" id="listadocausaaudiencias-archivadas">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;font-size: 135%;" class="multilinia" id="table-cause-audiencias-archivada" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menucausaaudienciaingresar">
              <section class="content-form">
                <h6>
                  <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_audiencia" class="form-control-menu"  placeholder="audiencia"></span>
                      <i  onclick="agregarAudiencia()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i  onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenaudienciaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_audiencia_ingresar" value=""><div id="abogados_audiencia_ingresar" class='dropdown-content'></div></div>
                        <input id="fechacuasaaudiencia" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

             <div class="box-body" style="display:none" id="menucausaaudienciaeditar">
              <section class="content-form">
                <h6>
                  <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_audiencia-editar" class="form-control-menu"  placeholder="audiencia"></span>
                      <i onclick="modificarCausaAudicencia()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i  onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                        <i onclick="archivarCausaAudiencia()" class="fas fa-archive fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                        <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenaudienciaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_audiencia_editar" value=""><div id="abogados_audiencia_editar" class='dropdown-content'></div></div>
                        <input id="fechacuasaaudienciaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                          <label style="display:none" id="id_audiencia"></label>
                  </h6>
              </section>
            </div>

            <section class="content-header">
              <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label> HISTORIAL </label>
                  <i><button id="btncausahistoriaingreso"  onclick="mostrarcausahistoriaciaingreso()" class="fas fa-plus-circle fa-2x" style="cursor:pointer;color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                  <i><button id="btncausahistorialista"  onclick="mostrarlistacausahistoria()" class="fas fa-chevron-circle-left fa-2x" style="cursor:pointer;color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                </h6>
            </section>
               
                  <div id="listadocausahistoria">
                      <table class="table-his"  id="table-cause-historia">
                        <tbody class="tbody_hist">
                        </tbody>
                    </table>
                  </div>
              
             <div class="box-body" style="display:none" id="menucausahistoriaingresar">
              <section class="content-form">
                <h6>
                      <textarea style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_causa_historia" class="form-control-menu"  placeholder="COMENTARIO"></textarea>
                      <i  onclick="agregarCausaHistoria()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i  onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenhistoriaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_historia_ingresar" value=""><div id="abogados_historia_ingresar" class='dropdown-content'></div></div>
                      <input id="fechacuasahistoria"  type="date" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menucausahistoriaeditar">
              <section class="content-form">
                <h6>
                <textarea class="textinput" style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_causa_historia-editar" class="form-control-menu"  placeholder="comentario"></textarea>
                      <i  onclick="modificarCausaHistoria()" class="far fa-plus-square fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="cursor:pointer;margin-left: 2%; color: #c4a215;"></i>
                         <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenhistoriaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_historia_editar" value=""><div id="abogados_historia_editar" class='dropdown-content'></div></div>
                      <input id="fechacuasahistoriaeditar" type="date" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_historia"></label>
                  </h6>
              </section>
            </div>

  </div>



  <!-- Modal de Ingreso-->
   <div id="new-cause" style="display: none;" ></div>
    <div id="new-audiences" style="display: none;" ></div>

    <!--Modal-->
<div id="ModalAbogado"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="box-body table-responsive no-padding">
          <table class="table table-striped" id="table-abogados">
          <thead>
            <tr>
              <th style="display:none">id</th>
              <th>Nombre</th>
            </tr>
          </thead>
            <tbody>
              <tr>

              </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_finalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FINALIZAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="text_modal" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button style='cursor:pointer;' onclick="Archivar()" style="float:left" type="button" class="btn btn-primary btn-xs" data-dismiss="modal">FINALIZAR</button>
        <p>   
          <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar" style="margin-right:2%">
          <%= Time.now.strftime("%F %T") %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_eliminar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal_eliminar">
   
      <div class="modal-body">
        <p style="margin-left: 6%;">ESTA SEGURO DE ELMINAR LA CAUSA JUDICIAL</p>
      </div>
      <div class="modal-footer">
        <button type="button"  style="float: left;" class="btn btn-primary" style='cursor:pointer;' onclick="EliminarCausas()">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_eliminar_tarea" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal_eliminar">
   
      <div class="modal-body">
        <p style="margin-left: 6%;">ESTA SEGURO DE ELMINAR LA TAREA</p>
      </div>
      <div class="modal-footer">
        <button type="button"  style="float: left;" class="btn btn-primary" style='cursor:pointer;' onclick="eliminarCausaTarea()">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>


<script>
   $(document).ready(obtenerLogin);
   $(document).ready(llenarAbogadoTareaNueva);
   $(document).ready(llenarAbogadoTareaEditar);
   $(document).ready(llenarAbogadoAudienciaNueva);
   $(document).ready(llenarAbogadoAudienciaEditar);
   $(document).ready(llenarAbogadoHistoriaNueva);
   $(document).ready(llenarAbogadoHistoriaEditar);
</script>
