<%= form_with(model: audience, local: true) do |form| %>
  <% if audience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audience.errors.count, "error") %> prohibited this audience from being saved:</h2>

      <ul>
      <% audience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :attorney_id %>
    <%= form.text_field :attorney_id %>
  </div>

  <div class="field">
    <%= form.label :cause_id %>
    <%= form.text_field :cause_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
