<p id="notice"><%= notice %></p>

<h1>Audiences</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Attorney</th>
      <th>Cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audiences.each do |audience| %>
      <tr>
        <td><%= audience.date %></td>
        <td><%= audience.attorney %></td>
        <td><%= audience.cause %></td>
        <td><%= link_to 'Show', audience %></td>
        <td><%= link_to 'Edit', edit_audience_path(audience) %></td>
        <td><%= link_to 'Destroy', audience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audience', new_audience_path %>
