<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @audience.date %>
</p>

<p>
  <strong>Attorney:</strong>
  <%= @audience.attorney %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @audience.cause %>
</p>

<%= link_to 'Edit', edit_audience_path(@audience) %> |
<%= link_to 'Back', audiences_path %>
