<% if user_signed_in? %>
  <div class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper main-header">
        <nav class="navbar">
          <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="/"><b>
                <img style="width:80px;" id="imagenperfil" src="https://storage.cloud.google.com/armificados.appspot.com/logo/logo.png"></a>
              </div>
              <div class="collapse navbar-collapse pull-left">
                <ul class="nav navbar-nav">
                  <%# <li class="active"><a href="/">Dashboar <span class="sr-only">(current)</span></a></li> %>
                  <li><a style="font-size: 100%" href="/causes">CAUSAS JUDICIALES</a></li>
                  <li><a style="font-size: 100%" href="/works">GESTIONES</a></li>
                  <li><a style="font-size: 100%" href="/clients">CLIENTES</a></li>
                   <!-- <li><a href="/calender">CALENDARIO</a></li>
                    <li><a href="/client_works">Gestines Clientes</a></li> 
                   <li><a href="/attorneys">ABOGADOS</a></li>
                    <li lass="dropdown">
                      <a href="#" style="font-size: 100%" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACION <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                       <li><a href="/user">PERFIL</a></li>-->
                        <% if signed_in? %>
                          <li> <%= link_to 'CERRAR SESION', destroy_user_session_path, method: :delete , style:"font-size: 100%"%></li>
                        <% end %>
                        <li style="margin-top: 2.5%"><img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar"></li>
                      </ul>
                    </li>

                  
                  <a id="usuarioactualcausa" style="display:none" value="<%= @emailuser.role %>" ></a>
                </ul>
              </div>
          </div>
        </nav>
      </div>
  </div>
  <%if @emailuser.role == "admin" || @emailuser.role == "Coordinador" %>
     <div class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper main-header " style="height: 30px;min-height: 100%;">
        <nav style="background-color: #c4a215">
          <div class="container">
                <ul style="float: left;height: 2px;margin-top: 1%; margin-left: -2%;">
                <a  href="/user_web" style="color: white">USUARIOS</a>
                </ul>
          </div>
        </nav>
      </div>
  </div>
  <%end%>
<%end%>
