<!--<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Clientes
        <small></small>
        
      </h1> 
    </section>

    
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
           <div class="box-body table-responsive no-padding">
              <table class="table " id="table-cause" >
                <tr>
                  <th id="nombre">Nombre</th>
                 
                  <th colspan="2"></th>
                </tr>
                    <tbody id='body-cause'>
                     <% @clients.each do |client| %>
                                  <tr>
                                      <td class='btn' onclick='BuscarCliente(" <%= client.id %> ")'><%= client.name %></td>
                                      <td><%= link_to 'Editar', edit_client_path(client) %></td>
                                   
                                  </tr>
                                <% end %>
                    </tbody>
              </table>
            </div>
           
          </div>

           <%= link_to 'Nuevo Cliente', new_client_path,class:"btn btn-block btn-social btn-bitbucket" %>
            
        </div>
      
        <div class="col-md-6">
        
          <div class="box ">
            <div class="box-header with-border">
              <h3 class="box-title">Nombre Cliente</h3>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
               <div style=" width: 40%; margin-left: 4%; float:left;">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Plan</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="idplan" placeholder="Plan">
                    </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Tipo</label>
                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idtipo1" placeholder="Tipo">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Region</label>

                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idregion" placeholder="Region">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Rol" class="col-sm-3 control-label">Comuna</label>

                  <div class="col-sm-8">
                    <input type="Rol" class="form-control" id="idcomuna" placeholder="Comuna">
                  </div>
                </div>
            
              </div>
            </form>
          </div>

          <div class="box ">
            <div class="box-header with-border">
              <h3 class="box-title">Datos Generales</h3>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
               <div style=" width: 40%; margin-left: 4%; float:left;">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Cliente</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="idname" placeholder="Cliente">
                    </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Tipo</label>
                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idtipo" placeholder="Tipo">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Rut</label>

                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idrut" placeholder="Rut">
                  </div>
                </div>
            
            
              </div>
            </form>
          </div>

           <div class="box ">
            <div class="box-header with-border">
              <h3 class="box-title">Representante Legal</h3>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
               <div style=" width: 40%; margin-left: 4%; float:left;">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="idnamelegal" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Rut</label>
                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idrutlegal" placeholder="Rut">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Correo</label>

                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idmaillegal" placeholder="Correo">
                  </div>
                </div>
                 <div class="form-group">
                  <label for="Nombre" class="col-sm-3 control-label">Telefono</label>

                  <div class="col-sm-8">
                    <input type="Nombre" class="form-control" id="idphonelegal" placeholder="Telefono">
                  </div>
                </div>
            
            
              </div>
            </form>
          </div>

        </div>

       

      </div>
    </section> 

    
      
  </div>-->


  
    
        <div class="col-md-3">
         <section class="content-header">
       <!--     <h6>
               <select style="margin-left: 2%" id="Estado">
                <option>Listado</option>
              
              </select>
              <i class="fas fa-angle-right fa-2x" style=" float: right;color: #c4a215;margin-right: 8%;"></i>
             
            </h6>-->
          </section>

             <section class="content-header">
          
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              CLIENTES 
              
              </h6>
          </section>
          
          <!--<section class="content-header">
          
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              CAUSAS JUDICIALES 
              
             <i> <%= link_to '', new_cause_path, :remote=>true ,class:'fas fa-plus-circle fa-2x', style:'color:#c4a215;float: right;margin-right: 6%;margin-top: -2%;' %></i>
             <label style="float: right;margin-right: 5%;">Archivo</label>
              </h6>
          </section>-->

            <div class="box-body">
              <table class="multilinia" id="table-cliente-abogado" >
                <tr>
                </tr>
                   
              </table>
            </div>
         

      <!--      <section class="content-header">
            
              <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
                GESTIONES
      
              <label style="float: right;margin-right: 5%;">Archivo</label></h6>
            </section>

           <div class="box-body">
              <table  id="table-work-cliente" >
                <tr>
                </tr>
                   
              </table>
            </div>-->


              
        </div>
  
        <div id="cliente" class="col-md-8" style="border-left: 1px solid black;">
          <section class="content-header-menu" >
            <h6>
            <span  id="direccionCliente" style="margin-left: 3%;"></span>
           
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;"> 
           <!-- <select  id="combocliente">
            </select></span>-->
             <span  style="margin-right: 3%;float: right;"></span>
            </h6>
          </section>

            <%# <section class="border-menu-2" >
              <img src="http://www.lanzaderaonline.com/wp-content/uploads/2016/08/MAL-AVATAR.jpg" class="float-left imagen-cliente">
            </section> %>

            <section class="content-form">
                <h6>
                  <label style="margin-left:5%">NOMBRE</label>
                  <label id="nombrec_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                    <label style="margin-left:5%">RUT</label>
                  <label id="rutc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
            <%# <section class="content-form">
                <h6>
                   <label style="margin-left:40%">PLAN</label>
                  <label  id="planc_abogado" style="margin-left:5%"></label>
                </h6>
            </section> %>
           
             <section class="content-form">
                <h6>
                  <label style="margin-left:5%">REGION</label>
                  <label id="regionc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
             <%# <section class="content-form">
                <h6>
                  <label style="margin-left:40%">COMUNA</label>
                  <label id="comunac_abogado" style="margin-left:5%"></label>
                </h6>
            </section> %>
             <section class="content-form">
                <h6>
                  <label style="margin-left:5%">DIRECCION</label>
                  <label id="direccionc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
            
            <section id="menu-rl" class="content-form" style="display:none">
                <h6>
                  <label style="margin-left:5%">REPRESENTANTE LEGAL</label>
                  <label id="representantec_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
            <section id="menu-rutlegal" class="content-form" style="display:none">
                <h6>
                  <label style="margin-left:5%" >RUT</label>
                  <label id="rutlegalc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
             <section class="content-form">
                <h6>
                  <label style="margin-left:5%">OFICIO</label>
                  <label id="oficioc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                  <label style="margin-left:5%">ESTADO CIVIL</label>
                  <label id="estadoc_abogado" style="margin-left:5%"></label>
                </h6>
            </section>
        </div>

<script>
 $(document).ready(obtenerLogin_cliente);
</script>
