
<h3 class="box-title">Dashboard</h3>
  <div class="col-md-6">
    <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Tareas Vencidas</h3>
          </div>
                <table id="table-dashboard-tarea" style="line-height: normal;"  class='multilinia'>
                  <tr>
                   
                  </tr>

              </table>

           <div class="box-header with-border">
            <h3 class="box-title">Tareas de Hoy</h3>
          </div>
                <table id="table-dashboard-tarea-hoy" style="line-height: normal;"  class='multilinia'>
                  <tr>
                   
                  </tr>

                </table>  

             <div class="box-header with-border">
            <h3 class="box-title">Tareas de Mañana</h3>
          </div>
                <table id="table-dashboard-tarea-m" style="line-height: normal;"  class='multilinia'>
                  <tr>
                   
                  </tr>

              </table>    

    </div>
  </div>
  
   <div class="col-md-6" style="margin-left:5%">
      <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Audiencias y Reuniones Vencidas</h3>
            </div>
            <table id="table-dashboard-audiencia" style="line-height: normal;" class='multilinia'>
                <tr>

                </tr>
                
              </table>

             <div class="box-header with-border">
              <h3 class="box-title">Audiencias y Reuniones Hoy</h3>
            </div>
            <table id="table-dashboard-audiencia-h" style="line-height: normal;" class='multilinia'>
                <tr>

                </tr>
                
              </table>

               <div class="box-header with-border">
              <h3 class="box-title">Audiencias y Reuniones Mañana</h3>
            </div>
            <table id="table-dashboard-audiencia-m" style="line-height: normal;" class='multilinia'>
                <tr>

                </tr>
                
              </table>
      </div>
  </div>

  <script>
     $(document).ready(obtenerLogin);
      $(document).ready(ListadoAudienciasVigentes);
  </script>