<%= form_with(model: cause_status, local: true) do |form| %>
  <% if cause_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause_status.errors.count, "error") %> prohibited this cause_status from being saved:</h2>

      <ul>
      <% cause_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cause_id %>
    <%= form.text_field :cause_id %>
  </div>

  <div class="field">
    <%= form.label :attorney_id %>
    <%= form.text_field :attorney_id %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.datetime_select :expiration_date %>
  </div>

  <div class="field">
    <%= form.label :finished %>
    <%= form.check_box :finished %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
