<div id="myModalCauseTareas" class="modal fade"  >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Estado</h4>
      </div>

      
        <%= form_for @cause_status, remote: true do |form| %>
        <div class="modal-body">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
              
                  <form role="form">
                    <div class="box-body">
                    <div class="alert alert-danger" role="alert" style="display: none;"></div>
                     
                      
              
                    <div class="form-group col-md-4">
                        <%= form.label :Causa %>
                        <%= form.select :cause_id, options_from_collection_for_select( Cause.all, :id, :name)  %>
                    </div>

                    <div class="form-group col-md-4">
                        <%= form.label :Abogado_a_cargo %>
                         <%= form.select :attorney_id, options_from_collection_for_select( Attorney.all, :id, :name)  %>
                       
                    </div>

                    <div class="form-group col-md-8">
                        <%= form.label :Descripcion %>
                        <%= form.text_field :description %>
                    </div>
                    <div class="form-group col-md-8">
                        <%= form.label :Fecha_de_termino %>
                        <%= form.datetime_select :expiration_date ,
                         {
                                  :order => [:day, :month, :year], 
                                  :value => DateTime.now.strftime('%m/%d/%Y')
                                }%>
                    </div>

                    

                      <div class="form-group col-md-4">
                         
                          <%= form.hidden_field :finished ,  :value => false %>
                      </div>

                      
                    </div>
                </div>
              </div>  <!-- /.box -->
                    <div class="modal-footer">
                        <%= form.submit "Guardar",class: "btn btn-primary btn-lg btn-block" %>
                    </div>
                  <% end %>
              </div>
              
          </div>
        </div>
      </div>