<p id="notice"><%= notice %></p>

<h1>Cause Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Cause</th>
      <th>Attorney</th>
      <th>Expiration date</th>
      <th>Finished</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cause_statuses.each do |cause_status| %>
      <tr>
        <td><%= cause_status.cause %></td>
        <td><%= cause_status.attorney %></td>
        <td><%= cause_status.expiration_date %></td>
        <td><%= cause_status.finished %></td>
        <td><%= cause_status.description %></td>
        <td><%= link_to 'Show', cause_status %></td>
        <td><%= link_to 'Edit', edit_cause_status_path(cause_status) %></td>
        <td><%= link_to 'Destroy', cause_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause Status', new_cause_status_path %>
