<p id="notice"><%= notice %></p>

<p>
  <strong>Cause:</strong>
  <%= @cause_status.cause %>
</p>

<p>
  <strong>Attorney:</strong>
  <%= @cause_status.attorney %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @cause_status.expiration_date %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @cause_status.finished %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cause_status.description %>
</p>

<%= link_to 'Edit', edit_cause_status_path(@cause_status) %> |
<%= link_to 'Back', cause_statuses_path %>
