  <!--<div class="content-wrapper">
  

    <section class="content-header">
      <h1>Audiencias</h1>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <section class="content">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th></th>
                                    <th>Rol</th>
                                    <th>Audiencia</th>
                                    <th>Fecha</th>
                                    <th>Area</th>
                                    <th>abogado</th>
                                    <th style="display:none;">id_abogado</th>
                                    <th style="display:none;">id_causa</th> 
                                </tr>
                            </table>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="calenderaudiences">
                                    <tr>
                                    
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="causas"class="col-md-6" ">
                <div class="box ">
                <div class="box-header with-border">
                    <h3 class="box-title">Causa</h3>
                    
                    <button type="submit" class="btn btn-info pull-right" onclick='Archivar()'>Archivar</button>
                    <button type="submit" class="btn btn-default pull-right" onclick='ActualizarCausas()'>Modificar</button>
                    
                </div>
            
                <form class="form-horizontal">
                    <div class="box-body">
                    <div style=" width: 40%; margin-left: 4%; float:left;">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Cliente</label>

                        <div class="col-sm-8">
                        <input type="idcliente" class="form-control" id="idnombreclientec" placeholder="Cliente">
                         <input class="form-control" id="idclientec" style="display:none;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="col-sm-3 control-label">Nombre</label>

                        <div class="col-sm-8">
                        <input type="Nombre" class="form-control" id="idnombrec" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Rol" class="col-sm-3 control-label">Rol</label>

                        <div class="col-sm-8">
                        <input type="Rol" class="form-control" id="rolc" placeholder="Rol">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Caratulado" class="col-sm-3 control-label">Caratulado</label>

                        <div class="col-sm-8">
                        <input type="Caratulado" class="form-control" id="Caratuladoc" placeholder="Caratulado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuantia" class="col-sm-3 control-label">Cuantia</label>

                        <div class="col-sm-8">
                            <input type="Cuantia" class="form-control" id="Cuantiac" placeholder="Cuantia">
                        </div>
                    </div>
                    
                    </div>
                    <div style="width:50%; float:left;">
                    <div class="form-group">
                        <label for="Tribunal" class="col-sm-3 control-label">Tribunal</label>

                        <div class="col-sm-8">
                        <input type="Tribunal" class="form-control" id="Tribunalc" placeholder="Tribunal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Materia" class="col-sm-3 control-label">Materia</label>

                        <div class="col-sm-8">
                            <input type="Materia" class="form-control" id="Materiac" placeholder="Materia">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Tprocedimiento" class="col-sm-3 control-label">Procedimiento</label>

                        <div class="col-sm-8">
                        <input type="idprocedimiento" class="form-control" id="idprocedimientoc" placeholder="Tipo Procedimiento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Estado" class="col-sm-3 control-label">Estado</label>

                        <div class="col-sm-8">
                        <input type="Estado" class="form-control" id="Estadoc" placeholder="Estado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Abogado" class="col-sm-3 control-label">Abogado</label>

                        <div class="col-sm-8">
                        <input type="idabogado" class="form-control" id="idnombreabogadoc" placeholder="Abogado">
                         <input  class="form-control" id="idabogadoc" style="display:none;">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                        <input style="display:none;" class="form-control" id="idcausac">
                        <input style="display:none;" class="form-control" id="idcodigoc">
                            <input style="display:none;" class="form-control" id="iddescripcionc">
                        
                        </div>
                    </div>
                
                    </div>   
                
                    </div>
                  
                    <div class="box-footer">
                    
                    
                    </div>
           
                </form>
            </div>
        </div>
    </section>
</div> -->


<div class="col-md-3">
    <section class="content-header">
        <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
            CALENDARIO 
        </h6>
    </section>

    <div class="box-body" >
        <table  id="calenderaudiences" >
            <tr></tr>
            
        </table>
    </div>
    
    <section class="content-header">
        <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
            ARCHIVO</h6>
    </section>

    <div class="box-body" >
        <table  id="calenderaudiencesarchivadas" >
            <tr></tr>
        </table>
    </div>
</div>

<div id="menuCausas" style="display:none">
  <!--<div id="expediente" class="col-md-8" style="border-left: 1px solid black;  display:none;">
    <section class="content-header-menu" >
      <h6>
        <span  style="margin-left: 3%;" id="codigocausa">CODIGO</span>
        <span id="clientecausa" style="margin-left: 3%;">CLIENTE</span>
        <span id="idcausa" style="display: none"></span>
        <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
        <%# <select  id="combocliente2"></select></span> %>
      </h6>
    </section>

          <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark" style="margin-left: 3%;  "> </i>  <a  class="btn" onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%;color: #c4a215; "> </i>  <a class="btn" onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO</label>
                <select   id="comboabogado2"></select>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">NOMBRE</label>
              <span>  <input type="nombre" id="nombre" class="form-control-menu"  placeholder="nombre"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">TRIBUNAL</label>
              <span>  <input type="Tribunal" id="Tribunal" class="form-control-menu"  placeholder="Tribunal"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ROL</label>
              <span>  <input type="rol" id="rol" class="form-control-menu"  placeholder="Rol"></span>
            </h6>
          </section>
         
          <section class="content-form">
            <h6>
              <label class="margin-menu">MATERIA</label>
              <span>  
               <select  id="Materia">
                <option>Cobranza</option>
                <option>Civil</option>
                <option>Protección</option>
                <option>Penal</option>
                <option>Copropiedad</option>
                <option>Consumidor</option>
                <option>Familia</option>
                <option>Otro</option>
            </select></span>
            </h6>
          </section>
          <section class="content-form" style="display:none">
            <h6>
              <label class="margin-menu">PROCEDIMIENTO</label>
              <span>  <input type="idprocedimiento" id="procedimiento" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">INSTANCIA</label>
              <span>
              <select  id="instancia">
                <option>Extrajudicial</option>
                <option>Suprema</option>
                <option>Primera</option>
                <option>Segunda</option>
                
            </select>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">CUANTÍA</label>
              <span> <input type="Cuantia" id="Cuantia" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">DESCRIPCIÓN</label>
              <span>  <input type="descripcion" id="descripcion" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO</label>
              <span>
                <select  id="Estado">
                  <option>Regular</option>
                  <option>Destacado</option>
                  <option>Archivado</option>
              </select>
              </span>
            </h6>
          </section>
          <%# <section class="content-header-food" >
            <h6>
            <span style="margin-left: 3%;">DEMANDANTE Y DEMANDADO</span>
            <span type="button" class="btn btn-primary btn-xs " style="float: right;margin-right: 2%;margin-top: -0.5%;"> GESTIONAR ACTORES </span>
            </h6>
          </section> %>
          <section class="content-header-food" >
            <h6>
              <span type="button" data-toggle="modal" data-target="#modal_finalizar" class="btn btn-primary btn-xs" style="margin-left: 3%;">FINALIZAR</span>
              <span type="button" data-toggle="modal" data-target="#modal_eliminar"   class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ELIMINAR</span>
              <span type="button" onclick="ActualizarCausas()" class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
  </div>

  <div id="tramitacion"  class="col-md-8" style="border-left: 1px solid black;  ">

  
          <section class="content-header-menu" >
            <h6>
             <span  style="margin-left: 3%;" id="codigocausa2">CODIGO</span>
              <span id="clientecausa2" style="margin-left: 3%;">CLIENTE</span>
              <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;">
              <%# <select  id="combocliente3"></select></span> %>
            </h6>
          </section>
          <section class="content-form border-menu-2">
            <h6>
             
                <i class="fas fa-bookmark" style="margin-left: 3%; color: #c4a215; "> </i>  <a  class="btn" onclick="causemenutramitacion()">TRAMITACION</a>
               <i class="fas fa-bookmark " style="margin-left: 3%; "> </i>  <a class="btn" onclick="causemenuexpediente()"> EXPEDIENTE</a>
            </h6>

          </section>
          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label>TAREAS</label>
                <i><button id="btncausatareaingreso" onclick="mostrarcausatareaingreso()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btncausatareaarchivar" onclick="mostrarlistacausatareaarchivadas()" class="fas fa-archive fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btncausatarealista" onclick="mostrarlistacausatarea()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: %;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
              </h6>
          </section>
            <section class="content-form" >
              <div  id="listadocausatareas">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-cause-tareas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <section class="content-form"  >
              <div  id="listadocausatareasarchivada" style="display:none">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-cause-tareas-archivadas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menucausatareaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-causa" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarCausaTarea()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagentareaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_tarea_ingresar" value=""><div id="abogados_causa_status_nuevo" class='dropdown-content'></div></div>
                      <input id="fechacuasatarea" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            
            </div>

            <div class="box-body" style="display:none" id="menucausatareaeditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-causa-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarCausaTarea()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                       <i onclick="archivarCausaTarea()" class="fas fa-archive fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagentareaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_tarea_editar" value=""><div id="abogados_causa_status_editar" class='dropdown-content'></div></div>
                      <input id="fechacuasatareaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_causastatus"></label>
                  </h6>
              </section>
            </div>

            <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
             <label> AUDIENCIA </label>
                <i> <button id="btncausaaudienciaingreso" onclick="mostrarcausaaudienciaingreso()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btncausaaudienciaarchivar" onclick="mostrarlistacausaaudienciaarchivadas()" class="fas fa-archive fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i> <button id="btncausaaudiencialista" onclick="mostrarlistacausaaudiencia()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
              </h6>
          </section>

            <section class="content-form" >
              <div  id="listadocausaaudiencias">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-cause-audiencias" >
                <tr></tr>
              
                </table>
              </div>
            </section>
            
              <section class="content-form" >
              <div  style="display:none" id="listadocausaaudiencias-archivadas">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-cause-audiencias-archivada" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menucausaaudienciaingresar">
              <section class="content-form">
                <h6>
                  <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_audiencia" class="form-control-menu"  placeholder="audiencia"></span>
                      <i onclick="agregarAudiencia()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenaudienciaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_audiencia_ingresar" value=""><div id="abogados_audiencia_ingresar" class='dropdown-content'></div></div>
                        <input id="fechacuasaaudiencia" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

             <div class="box-body" style="display:none" id="menucausaaudienciaeditar">
              <section class="content-form">
                <h6>
                  <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_audiencia-editar" class="form-control-menu"  placeholder="audiencia"></span>
                      <i onclick="modificarCausaAudicencia()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                        <i onclick="archivarCausaAudiencia()" class="fas fa-archive fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                                          <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenaudienciaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_audiencia_editar" value=""><div id="abogados_audiencia_editar" class='dropdown-content'></div></div>
                        <input id="fechacuasaaudienciaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                          <label style="display:none" id="id_audiencia"></label>
                  </h6>
              </section>
            </div>

            <section class="content-header">
              <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label> HISTORIA </label>
                  <i><button id="btncausahistoriaingreso" onclick="mostrarcausahistoriaciaingreso()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                  <i><button id="btncausahistorialista" onclick="mostrarlistacausahistoria()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: 2%;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                </h6>
            </section>

             <section class="content-form" >
              <div id="listadocausahistoria">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-cause-historia" >
                <tr></tr>
              
                </table>
              </div>
            </section>
            
           
             <div class="box-body" style="display:none" id="menucausahistoriaingresar">
              <section class="content-form">
                <h6>
                <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_causa_historia" class="form-control-menu"  placeholder="comentario"></span>
                      <i onclick="agregarCausaHistoria()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenhistoriaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_historia_ingresar" value=""><div id="abogados_historia_ingresar" class='dropdown-content'></div></div>
                      <input id="fechacuasahistoria" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menucausahistoriaeditar">
              <section class="content-form">
                <h6>
                <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion_causa_historia-editar" class="form-control-menu"  placeholder="comentario"></span>
                      <i onclick="modificarCausaHistoria()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                         <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenhistoriaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_historia_editar" value=""><div id="abogados_historia_editar" class='dropdown-content'></div></div>
                      <input id="fechacuasahistoriaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_historia"></label>
                  </h6>
              </section>
            </div>

  </div>-->
</div>

<div id="menuGestiones" style="display:none">
  <!-- <div id="gestion" class="col-md-8" style="border-left: 1px solid black;">
          <section class="content-header-menu" >
            <h6>
            <span  id="codigowork" style="margin-left: 3%;">CODIGO</span>
            <span   id="clientework"  style="margin-left: 3%;">CLIENTE</span>
             <span id="idgestion" style="display: none"></span>
            <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;"> 
            <%# <select  id="combocliente">
            </select></span> %>
            </h6>
          </section>
          <section class="border-menu-2">
            <h6>
               <i class="fas fa-bookmark " style="margin-left: 3%; color: #c4a215;"> </i>  <a  class="btn" onclick="gestionGestion()"> GESTION</a>
              <i class="fas fa-bookmark" style="margin-left: 3%;"> </i>  <a class="btn" onclick="gestionConfiguracion()">CONFIGURACION</a>
            </h6>
          </section>

          <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
              <label>TAREAS</label>
               <i><button id="btnWorkTareaIngreso" onclick="menuWorkTareaAgregar()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkTareaArchivar" onclick="menuWorkListadoTareaArchivadas()" class="fas fa-archive fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkTareaLista" onclick="menuWorkListadoTarea()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: %;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
              </h6>
          </section>

           <section class="content-form" >
              <div  id="listadoworkareas">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-tareas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <section class="content-form"  >
              <div  id="listadoworktareasarchivada" style="display:none">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-tareas-archivadas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menuworktareaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-work" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarWorkTareas()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                    <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworktareaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_tarea_ingresar" value=""><div id="abogados_work_status_nuevo" class='dropdown-content'></div></div>
                        <input id="fechaworktarea" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menuworktareaeditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-tarea-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarWorkTareas()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="ArchivarWorkTareas()" class="fas fa-archive fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworktareaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_tarea_editar" value=""><div id="abogados_work_status_editar" class='dropdown-content'></div></div>
                      <input id="fechaworktareaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label style="display:none" id="id_tarea"></label>
                  </h6>
              </section>
            </div>



            <section class="content-header">
              <h6><i class="fas fa-angle-right" style="margin-left: 2%;  color: #c4a215;"></i>
              <label> REUNIONES </label>
                <i><button id="btnWorkReunioningreso" onclick="menuWorkReunionAgregar()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                  <i><button id="btnWorkReunionarchivar" onclick="menuWorkListadoReunionArchivadas()" class="fas fa-archive fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                  <i><button id="btnWorkReunionlista" onclick="menuWorkListadoReunion()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: %;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
                </h6>
            </section>


           <section class="content-form" >
              <div  id="listadoworkreuniones" >
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-reuniones" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <section class="content-form">
              <div  id="listadoworkreunionesarchivada" style="display:none">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-reuniones-archivadas" >
                <tr></tr>
              
                </table>
              </div>
            </section>

            <div class="box-body" style="display:none" id="menuworkreunioningresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-reunion-work" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarReuniones()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkreunioningresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_reunion_ingresar" value=""><div id="abogados_work_reunion_nuevo" class='dropdown-content'></div></div>
                        <input id="fechaworkreunion" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

             <div class="box-body" style="display:none" id="menuworkreunioneditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-reunion-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarReuniones()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                         <i onclick="ArchivarReuniones()" class="fas fa-archive fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkreunioneditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_reunion_editar" value=""><div id="abogados_work_reunion_editar" class='dropdown-content'></div></div>
                      <input id="fechaworkreunioneditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label id="id_reunion" style="display:none"></label>
                  </h6>
              </section>
            </div>

            <section class="content-header">
            <h6><i class="fas fa-angle-right" style="margin-left: 2%; color: #c4a215;"></i>
             <label> HISTORIAL </label>
                <i><button id="btnWorkHistoriaIngreso" onclick="menuWorkHistoriaAgregar()" class="fas fa-plus-circle fa-2x" style="color: #c4a215; float: right;margin-right: 2%; background-color: transparent;border: transparent;    margin-top: -0.5%;" ></i>
                <i><button id="btnWorkHistoriaLista" onclick="menuWorkListadoHistoria()" class="fas fa-chevron-circle-left fa-2x" style="color:#c4a215;float:right;margin-right: %;margin-top: -0.5%;display:none; background-color: transparent;border: transparent;"  ></i>
              </h6>
          </section>


         <section class="content-form" >
              <div  id="listadoworkHistoria">
                <table style="margin-top: 0.5%;margin-bottom: 0.5%;" id="table-work-historias" >
                <tr></tr>
              
                </table>
              </div>
            </section>


            <div class="box-body" style="display:none" id="menuworkHistoriaingresar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-historia-work" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="agregarHistorias()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                       <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkhistoriaingresar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_historia_ingresar" value=""><div id="abogados_work_historia_nuevo" class='dropdown-content'></div></div>
                        <input id="fechaworkhistoria" type="datetime-local" name="bdaytime" style="width: 20%;">
                  </h6>
              </section>
            </div>

            <div class="box-body" style="display:none" id="menuworkHistoriaEditar">
              <section class="content-form">
                <h6>
                  <h6 style="margin-left: 2%; color: #c4a215;"></H6>
                      <span><input style="margin-left: 2%; margin-bottom: 2%; width: 45%;" id="descripcion-historia-work-editar" class="form-control-menu"  placeholder="tarea"></span>
                      <i onclick="modificarHistorias()" class="far fa-plus-square fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                      <i onclick="" class="far fa-trash-alt fa-2x" style="margin-left: 2%; color: #c4a215;"></i>
                                             <div class='dropdown'><button class='dropbtn'><img style="margin-right:2%" id="imagenworkhistoriaeditar" src="https://www.w3schools.com/w3images/avatar2.png" alt='Avatar' class='avatar'></button><input style="display:none" id="id_Abogado_work_historia_editar" value=""><div id="abogados_work_historia_editar" class='dropdown-content'></div></div>
                        <input id="fechaworkhistoriaeditar" type="datetime-local" name="bdaytime" style="width: 20%;">
                      <label id="id_historia" style="display:none" ></label>
                  </h6>
              </section>
            </div>
        </div>

        <div id="configuracion"  class="col-md-8" style="border-left: 1px solid black;  display:none;">
          <section class="content-header-menu" >
            <h6>
          <span  id="codigowork2" style="margin-left: 3%;">CODIGO</span>
            <span   id="clientework2"  style="margin-left: 3%;">CLIENTE</span>
           <span style="/* margin-left: 68%; */float: right;/* margin-bottom: 222222%; */margin-right: 2%;margin-top: -0.5%;"> 
            <%# <select  id="comboclientework2">
            </select></span> %>
            </h6>
          </section>
          <section class="content-form border-menu-2">
            <h6>
              <i class="fas fa-bookmark " style="margin-left: 3%;"> </i>  <a class="btn" onclick="gestionGestion()"> GESTION</a>
              <i class="fas fa-bookmark" style="margin-left: 3%; color: #c4a215;"> </i>  <a  class="btn" onclick="gestionConfiguracion()">CONFIGURACION</a>
            </h6>
            
          </section>
            <section class="content-form">
            <h6>
              <label class="margin-menu">ABOGADO</label>
               <span><select class="comboboxselect"  id="comboabogadoworkmenu" ></select></span>
            </h6>
          </section>
          <section class="content-form">
            <h6>
              <label class="margin-menu">DESCRIPCIÓN</label>
              <span>  <input type="descripcion" id="work-descripcion" class="form-control-menu"  placeholder="Nombre"></span>
            </h6>
          </section>
           <section class="content-form">
            <h6>
              <label class="margin-menu">ESTADO</label>
              <span>  
                <select  id="Estado">
                  <option>Destacado</option>
                  <option>Regular</option>
                  <option>Archivado</option>
              </select>
              </span>
            </h6>
          </section>
            <section class="content-header-food" >
            <h6>
              <span type="button" data-toggle="modal" data-target="#modal_finalizar_work" class="btn btn-primary btn-xs" style="margin-left: 3%;">FINALIZAR</span>
              
              <span type="button" data-toggle="modal" data-target="#modal_eliminar_work" class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">ELIMINAR</span>
              <span onclick="modificarWork()" type="button" class="btn btn-primary btn-xs" style="float: right;margin-right: 2%;">MODIFICAR</span>
            </h6>
          </section>
    </div>-->
</div>

<script>
  $(document).ready(llenartablacalender);
</script>