<%= form_with(model: attorney, local: true) do |form| %>
  <% if attorney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>

      <ul>
      <% attorney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Abogado
       
      </h1>
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nuevo Abogado</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group col-md-4">
                  <%= form.label :Nombre %>
                  <%= form.text_field :name, class:"form-control"  %>
                </div>
                 <div class="form-group col-md-4">
                  <%= form.label :Rut %>
                  <%= form.text_field :rut, class:"form-control"  %>
                </div>
                  <div class="form-group col-md-4">
                  <%= form.label :Profesion %>
                  <%= form.text_field :profession, class:"form-control"  %>
                </div>
                <div class="form-group col-md-4">
                  <%= form.label :Oficio %>
                  <%= form.text_field :job, class:"form-control"  %>
                </div>
                 <div class="form-group col-md-4">
                  <%= form.label :Estado_Civil %>
                  <%= form.text_field :civil_status, class:"form-control"  %>
                </div>

                  <div class="form-group col-md-4">
                  <%= form.label :Celular %>
                  <%= form.text_field :mobile, class:"form-control"  %>
                </div>
                <div class="form-group col-md-4">
                  <%= form.label :Email %>
                  <%= form.text_field :email, class:"form-control"  %>
                </div>
                <!--
                 <div class="form-group col-md-">
                  <%= form.label :photo %>
                  <%= form.text_field :photo, class:"form-control"  %>
                </div>-->
                
               
                  <div class="form-group col-md-7">
                  <%= form.label :birthdate %>
                  <%= form.datetime_select :birthdate %>
                </div>

                
                
               
              </div>
           
        

          </div>
        </div>  <!-- /.box -->

        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Usuario</h3>
            </div>
        
              <div class="box-body">  
                <div class="form-group col-md-4">
                  <%= form.label :email, "Usuario" %><br>
                  <%= form.text_field :email %>
                </div>
                <div class="form-group col-md-4">
                  <%= form.label :password, "Contrasena" %><br>
                  <%= form.text_field :password %>
                </div>
                <div class="form-group col-md-4">
                  <%= form.label :password_confirmation, "Comfirmar Contrasena" %><br>
                  <%= form.text_field :password_confirmation %>
                </div>
                 <%= form.hidden_field :role , :value => 'attorney' %> 
              </div>
            </form>
          </div>
        </div>  <!-- /.box -->
        
      </div>
         <%= form.submit "Guardar"%>
    </section>
    
<% end %>
