        <div class="col-xs-12">
            <div>
                
                  <h2>
                    Abogado
                  </h2>

                <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">
                            <small><%= link_to 'Nuevo Abogado', new_attorney_path %></small></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>Rut</th>
                              <th>Profession</th>
                              <th>Job</th>
                              <th>Civil status</th>
                              <th>Birthdate</th>
                              <th>Mobile</th>
                              <th>Email</th>
                             
                            
                              <th colspan="3"></th>
                            </tr>
                            </thead>         
                              <tbody>
                                <% @attorneys.each do |attorney| %>
                                  <tr>
                                    <td><%= attorney.name %></td>
                                    <td><%= attorney.rut %></td>
                                    <td><%= attorney.profession %></td>
                                    <td><%= attorney.job %></td>
                                    <td><%= attorney.civil_status %></td>
                                    <td><%= attorney.birthdate %></td>
                                    <td><%= attorney.mobile %></td>
                                    <td><%= attorney.email %></td>
                                    <td><%= link_to 'Mostrar', attorney %></td>
                                    <td><%= link_to 'Editar', edit_attorney_path(attorney) %></td>
                                    <td><%= link_to 'Eliminar', attorney, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                          </table>
                        </div>
                        <!-- /.box-body -->
                </div>
                
            </div>
        </div>
        
        
