<p id="notice"><%= notice %></p>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Abogado
       
      </h1>
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nuevo Abogado</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group col-md-4">
                  <strong>Nombre:</strong>
                  <%= @attorney.name %>
                </div>
                 <div class="form-group col-md-4">
                    <strong>Rut:</strong>
                    <%= @attorney.rut %>
                </div>
                  <div class="form-group col-md-4">                
                    <strong>Profession:</strong>
                    <%= @attorney.profession %>
                </div>
                <div class="form-group col-md-4">              
                  <strong>Oficio:</strong>
                  <%= @attorney.job %>
                </div>
                 <div class="form-group col-md-4">
                    <strong>Estado Civil:</strong>
                    <%= @attorney.civil_status %>
                </div>
                  <div class="form-group col-md-4">
                    <strong>Celular:</strong>
                    <%= @attorney.mobile %>
                  </div>
                <div class="form-group col-md-4">
                  <strong>Email:</strong>
                  <%= @attorney.email %>
                </div>
                <!--
                 <div class="form-group col-md-4">
                  <strong>Photo:</strong>
                  <%= @attorney.photo %>
                </div>
                  <div class="form-group col-md-4">
                    <strong>User:</strong>
                    <%= @attorney.user %>
                 </div>-->

                
                  <div class="form-group col-md-4">           
                    <strong>Fecha de Nacimiento:</strong>
                    <%= @attorney.birthdate %>
                </div>
               
              </div>
           
            </form>

          </div>
        </div>  <!-- /.box -->

        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Usuario</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group col-md-4">
             
                </div>
                 <div class="form-group col-md-4">
            
                </div>
                 
               
              </div>
             
            </form>
          </div>
        </div>  <!-- /.box -->
        
      </div>

        <%= link_to 'Editar', edit_attorney_path(@attorney) %> |
        <%= link_to 'Volver', attorneys_path %>

    </section>
