 <!--<div class="content-wrapper">
   
    <section class="content-header">
      <h1>
       Perfil de Usuario
      </h1>
   
    </section>

   
    <section class="content">

      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"

              <h3 class="profile-username text-center"><%=@emailuser.email%></h3>

            <%if @emailuser.role == 'admin'%>
              <p class="text-muted text-center">Administrador</p>
            <%else%>
              <p class="text-muted text-center">Abogado</p>
            <%end%>
   
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

            
            </div>
           
          </div>
          

         
        </div>
          <%if @emailuser.role == "admin"%>
      
         <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
           
              <li><a href="#settings" data-toggle="tab">Configuracion</a></li>
            </ul>
          
             

              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="inputEmail" placeholder=" <%= @usuario.email %>">
                     
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Contrasena</label>

                    <div class="col-sm-8">
                   <input type="text" class="form-control" id="inputName" placeholder="">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Confirmar Contrasena</label>

                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputSkills" placeholder="">
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                      <button type="submit" class="btn btn-danger">Modificar</button>
                    </div>
                  </div>
                </form>
              </div>
            
          
         
          </div>
         
        </div>
        <%else%>
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
           
              <li><a href="#settings" data-toggle="tab">Configuracion</a></li>
            </ul>
          
             
          <%@abogado.each do |attorney|%>
              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nombre</label>
            
                    <div class="col-sm-8">
                      <input  class="form-control" id="inputName" placeholder=" <%= attorney.name %> ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="inputEmail" placeholder="<%= attorney.email %> ">
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Contrasena</label>

                    <div class="col-sm-8">
                   <input type="text" class="form-control" id="inputName" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Confirmar Contrasena</label>

                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputSkills" placeholder="">
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                    <input class="btn btn-success" onclick="ModificarUsuario()" type="button">Modificar
                      
                    </div>

                  </div>

                  
                </form>
              </div>
            
          </div>
      
        </div>
          <%end%>
        <%end%>
       
      </div>
     

    </section>
   
  </div>-->

      <div class="col-md-3">
         <section class="content-header">
            <h6 style="margin-left:2%"> MI PERFIL
            <i class="fas fa-angle-right fa-2x" style=" float: right;color: #c4a215;margin-right: 8%;"></i>
              </h6>
          </section>
      </div>
  
       <div id="cliente" class="col-md-8" style="border-left: 1px solid black;">
          <section class="content-header-menu" >
            <h6>
            <span  id="direccionCliente" style="margin-left: 3%;">NOMBRE USUARIO</span>
           
           
             <span  style="margin-right: 3%;float: right;">RUT</span>
            </h6>
          </section>

            <section class="border-menu-2" >
              <img src="http://www.lanzaderaonline.com/wp-content/uploads/2016/08/MAL-AVATAR.jpg" class="float-left imagen-cliente">
            </section>

            <section class="content-form">
                <h6>
                  <label style="margin-left:40%">CONTACTO</label>
                  <label id="contacto" style="margin-left:5%"></label>
                </h6>
            </section>
             <section class="content-form">
                <h6>
                  <label style="margin-left:40%">NOMBRE</label>
                  <label id="contacto" style="margin-left:5%"></label>
                </h6>
            </section>
             <section class="content-form">
                <h6>
                  <label style="margin-left:40%">RUT</label>
                  <label id="contacto" style="margin-left:5%"></label>
                </h6>
            </section>
             <section class="content-form">
                <h6>
                  <label style="margin-left:40%">CARGO</label>
                  <label id="contacto" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                    <label style="margin-left:40%">TELEFONO</label>
                  <label id="telefono" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                   <label style="margin-left:40%">CORREO</label>
                  <label  id="correo" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                  <label style="margin-left:40%">DIRECCION</label>
                  <label id="direccion" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                  <label style="margin-left:40%">ESTADO CIVIL</label>
                  <label id="direccion" style="margin-left:5%"></label>
                </h6>
            </section>
            <section class="content-form">
                <h6>
                  <label style="margin-left:40%">CONTRASEÑA</label>
                  <label id="direccion" style="margin-left:5%"></label>
                </h6>
            </section>
         
        </div>
        
