

<div class="content-wrapper">
    
    <section class="content-header">
        <h1>
        <p>Informacion de Cliente</p>
            <small>
                <section >
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">SELECCION EL CLIENTES</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="DropClientes">
                           
                        </ul>
                    </div>
                </section>
            </small>
         </h1>
    </section>

  

    <section class="content">
        <div class="row">
            <div class="col-md-7">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        Tareas
                    </div>
            
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="clitareas" >
                            <tr>
                                <th style="display:none">id</th>
                                <th style="width:15px">Nombre</th>
                                <th style="width:15px">Descripcion</th>
                                <th style="width:5px" colspan="2"></th>
                            </tr>
                            <tbody id='body-clitarea'>                    
                            </tbody>
                        </table>
                    </div>
           
                </div>

                  <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        Estado Tareas
                    </div>
            
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="clisubtareas" >
                            <tr>
                                <th style="display:none">id</th>
                                <th>Terminado</th>
                                <th>Fecha</th>
                                <th>Abogado</th>
                                <th>Descripcion</th>
                                <th colspan="2"></th>
                            </tr>
                            <tbody id='body-clisubtareas'>                    
                            </tbody>
                        </table>
                    </div>
           
                </div>
             </div>
                    
           
         
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        Causas
                    </div>
            
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="clicausas">
                            <tr>
                                <th style="display:none">id</th>
                                <th>Nombre</th>
                                <th>Tribunal</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Abogado</th>
                                 <th style="display:none">id_cliente</th>
                                <th colspan="2"></th>
                            </tr>
                            <tbody id='body-clitarea'>                    
                            </tbody>
                        </table>
                    </div>
           
                </div>

                 <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        Audiencias
                    </div>
            
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="cliaudiencias" >
                            <tr>
                                <th style="display:none">id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th colspan="2"></th>
                            </tr>
                            <tbody id='body-clitarea'>                    
                            </tbody>
                        </table>
                    </div>
           
                </div>

                 <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        Estado de Causas
                    </div>
            
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="cliestadocausa" >
                            <tr>
                                <th style="display:none">id</th>
                                <th>Estado</th>
                                <th>Descripcion</th>
                                <th>Fecha</th>
                                <th>Abogado</th>
                                <th colspan="2"></th>
                            </tr>
                            <tbody id='body-clitarea'>                    
                            </tbody>
                        </table>
                    </div>
           
                </div>

                </div>
        </div>

        
    </section>                  
</div>


    <div id="new-cause" style="display: none;" ></div>
    <div id="new-audiences" style="display: none;" ></div>

    <!--Modal-->
<div id="ModalAbogado"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-striped" id="table-abogados">
          <thead>
            <tr>
              <th style="display:none">id</th>
              <th>Nombre</th>
            </tr>
          </thead>
            <tbody>
              <tr>
             
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>