

<div class="content-wrapper">
    <section class="content-header">
      <h1>
       Informacion de Cliente
        <small>Cliente</small>
        
      </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-7">
                <div class="box">
                    <div class="box-header with-border">
                    <h3 class="box-title">
                    
                  
                   
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered" id="clitareas" >
                            <tr>
                                <th  width="1">Nombre</th>
                                <th width="1" >Descripcion</th>
                                <th width="1">Cliente</th>
                                <th colspan="2"></th>
                            </tr>
                                <tbody id='body-cliente-tarea'>
                                 
                                </tbody>
                        </table>
                    </div>
                
                </div>

                 <div class="box">
                    <div class="box-header with-border">
                    <h3 class="box-title">
                    
                   
                   
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                    <table class="table table-bordered" id="table-cause" >
                        <tr>
                        <th>Terminado</th>
                        <th>Fecha</th>
                        <th>Abogado</th>
                        <th>Descripcion</th>
                        <th style="display:none;"></th>
                        <th style="display:none;"></th>

                        <th colspan="2"></th>
                        </tr>
                            <tbody id='body-cause'>
                            
                            </tbody>
                    </table>
                    </div>
                
                </div>
            </div>
                    
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                        <%= link_to 'Nueva Causa', new_audience_path, :remote=>true %></h3>
                                
                        <table class="table">
                            <tr>
                            <th style="display: none;"></th>
                            <th>Fecha</th>
                            <th>Abogado</th>
                            </tr>
                        </table>
                              
                        <div class="box-body no-padding">
                            <table class="table" id="table-audiencia">
                                <tr> 
                                </tr>
                            </table>
                        </div>
                               
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                        <%= link_to 'Nueva Audiencia', new_audience_path, :remote=>true %></h3>
                                
                        <table class="table">
                            <tr>
                            <th style="display: none;"></th>
                            <th>Fecha</th>
                            <th>Abogado</th>
                            </tr>
                        </table>
                              
                        <div class="box-body no-padding">
                            <table class="table" id="table-audiencia">
                                <tr> 
                                </tr>
                            </table>
                        </div>
                               
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                        <%= link_to 'Nueva Estado Causa', new_audience_path, :remote=>true %></h3>
                                
                        <table class="table">
                            <tr>
                            <th style="display: none;"></th>
                            <th>Fecha</th>
                            <th>Abogado</th>
                            </tr>
                        </table>
                              
                        <div class="box-body no-padding">
                            <table class="table" id="table-audiencia">
                                <tr> 
                                </tr>
                            </table>
                        </div>
                               
                    </div>
                </div>

            </div>
                    
            
        </div>
    </section>                  
</div>


    <div id="new-cause" style="display: none;" ></div>
    <div id="new-audiences" style="display: none;" ></div>

    <!--Modal-->
<div id="ModalAbogado"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-striped" id="table-abogados">
          <thead>
            <tr>
              <th style="display:none">id</th>
              <th>Nombre</th>
            </tr>
          </thead>
            <tbody>
              <tr>
             
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>