.backgroundlogin {
    height: 65px;
    width: 320px;
    background-size: 320px 65px;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

td {
    border: 1px solid blue;
    width: 100px;
    word-wrap: break-word;
}
