<p id="notice"><%= notice %></p>

<h1>Cause Histories</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Attorney</th>
      <th>Cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cause_histories.each do |cause_history| %>
      <tr>
        <td><%= cause_history.description %></td>
        <td><%= cause_history.date %></td>
        <td><%= cause_history.attorney %></td>
        <td><%= cause_history.cause %></td>
        <td><%= link_to 'Show', cause_history %></td>
        <td><%= link_to 'Edit', edit_cause_history_path(cause_history) %></td>
        <td><%= link_to 'Destroy', cause_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause History', new_cause_history_path %>
