<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @cause_history.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cause_history.date %>
</p>

<p>
  <strong>Attorney:</strong>
  <%= @cause_history.attorney %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @cause_history.cause %>
</p>

<%= link_to 'Edit', edit_cause_history_path(@cause_history) %> |
<%= link_to 'Back', cause_histories_path %>
