<!DOCTYPE html>
<html>
  <head>
    <title>Armis System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e26ec4a3f3.js"></script>
  </head>
 <%if @emailuser.nil?  %>
  <body class="backgroundwhite">
  <%else%>
    
  <%end%>
  
      <%= render 'shared/navbar'%>
      <%= yield %>
   
  </body>
</html>
<!---->

<!-- Modulo de Causas Judiciales-->


<script>

  $(document).ready(llenarclientescombo);
//   $(document).ready(listadoCausasActivasClientes);
//   $(document).ready(listadoWorkActivasClientes);
  $(document).ready(comboclientes);
  $(document).ready(comboboxabogado);
  $(document).ready(comboclienteswork);
  $(document).ready(comboboxabogadowork);
  $(document).ready(comboboxabogadoworkmenu);

</script>

<script>
 $(function() {
        $('#table-cause').on('click', 'tbody tr', function(event) {
            $('#table-cause-arch tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });

        $('#table-cause-arch').on('click', 'tbody tr', function(event) {
           $('#table-cause tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });
        

        var getHighlightRow = function() {
            return $('table > tbody > tr.selected');
        }

    });



 $(function() {
        $('#table-work').on('click', 'tbody tr', function(event) {
            $('#table-work-archivadas tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });

        $('#table-work-archivadas').on('click', 'tbody tr', function(event) {
           $('#table-work tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });
        

        var getHighlightRow = function() {
            return $('table > tbody > tr.selected');
        }

    });
     $(function() {
        $('#calenderaudiences').on('click', 'tbody tr', function(event) {
            $('#calenderaudiencesarchivadas tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });

        $('#calenderaudiencesarchivadas').on('click', 'tbody tr', function(event) {
           $('#calenderaudiences tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });
        

        var getHighlightRow = function() {
            return $('table > tbody > tr.selected');
        }

    });


     $(function() {
        $('#table-work-cliente').on('click', 'tbody tr', function(event) {
            $('#table-cause-cliente tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });

        $('#table-cause-cliente').on('click', 'tbody tr', function(event) {
           $('#table-work-cliente tr').removeClass('highlighted');
            $(this).addClass('highlighted').siblings().removeClass('highlighted');
        });
        

        var getHighlightRow = function() {
            return $('table > tbody > tr.selected');
        }

    });
</script>




